body {
    font-family: Arial, sans-serif;
    background: #f4f6fb;
    text-align: center;
    margin-top: 60px;
}

#in{
    width: 650px;
    height: 30px;
    border-radius: 20px;
    padding: 2px 3px;
}
.btn {
    padding: 10px 15px;
    margin-left: 5px;
    border: none;
    background: #4f46e5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: #3730a3;
}

.heading {
    color: #333;
}

input {
    padding: 10px;
    width: 220px;
    outline: none;
}

ul{
    margin-top: 35px;
}

li {
    background: white;
    margin: 8px auto;
    padding: 10px 15px;
    width: 260px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button{
    color: red;
    margin-left: 20px;
    cursor: pointer;
    border: 0px;
}
.completed {
    text-decoration: line-through;
    color: gray;
}


li button:hover {
    background: rgb(96, 5, 5);
}